.div-container{
    

    margin: 0px 0px 0px 0px;
    /* background: red; */
    width: min(100%, 300px);
    
}
.text-title, .text-link{
    justify-self: start;
    margin: 5px 0px 0px;
    color: #534d4c;
    font-size: 20px;
    
}
.text-link{
    font-style: italic;
    font-size: small;
}
.container-act {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 20px;
  }
