
.SLB-box{
    margin-top: 60px;
}
.sidenavbar-custom{
    box-shadow: inset 0px 0px 5px 10px  #000000dd;
    background: var(--primary-grad);
}
.list-group-item{
    /* background: green; */
    background: var(--primary-grad);
    border: 0px;
}
.list-group-item:hover{
    background: rgba(255,255,255,0.3);
 
}
.list-group-item.active{
    background: rgba(255,255,255,0.3);
    color: rgba(var(--secondary-color));
    
    
    
}

