
.SLB-box{
    margin-left: 0px;
    display: flex;

}

.sidenavbar-custom{
    box-shadow: -7px 7px 5px 0px  #000000dd;
    background: var(--primary-grad);
    display: flex;
    justify-self: start;
    
}
.list-group{
    max-width: 173px;


}
.list-item-holder{

    background: var(--primary-grad);
}
.list-group-item{
    /* background: green; */
    background: var(--primary-grad);
    border: 0px;
    
}
.vault-name{
    white-space: nowrap;
    overflow: hidden;
    
    text-overflow: ellipsis;
}
.list-group-item:hover{
    background: rgba(255,255,255,0.3);
 
}
.list-group-item.active{
    background: rgba(255,255,255,0.3);
    

}


