.updates-box{
    margin-top: 50px;
    background: var(--fourth-grad);
    display: flex;
    width: 25vw;
    height: 300px;
    position: relative;
    min-width: 275px;
    max-width: 350px;
    justify-self: center;
    border-radius: 8px;
    box-shadow: 0px 0px 25px 7px  #000000dd;
}


.updates-type{
    position: absolute;
    top:0px;
    left: 0px;

}

.updates-etime{
    position: absolute;
    top:0px;
    right: 0px;
}

.content-box{
    outline-color: aqua;
    flex: auto;
    justify-items: center;
    align-self: center;
    margin-top: 10px;
    height:200px;
}



.updates-reactions{
    /* flex: auto; */
    height: 50%;
    width: 100%;
    
}

.reactions-like{
    height: 20%;
    width: 100%;
    
}

.comment-button-box{
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    left:0px;
    margin-bottom: 10px;
    max-width: 600px;
    justify-content: end;
    align-items: end;
    width: 25vw;
    max-width: 310px;
    min-width: 275px;
    /* height: clamp(25px,5vw,50px); */
    
}




/* ----------------Update Content Card-------------------- */

.content-pic{
    height: 200px;
    width: 132px;
}


/* ----------------Comment Card-------------------- */


/* ----------------Bootstrap Overrides-------------------- */
