.updates-box{
    margin-top: 50px;
    background: var(--fourth-grad);
    display: flex;
    width: 25vw;
    height: 310px;
    position: relative;
    min-width: 275px;
    max-width: 350px;
    justify-self: center;
}

.updates-box-home{
    margin-top: 50px;
    background: var(--primary-grad);
    display: flex;
    width: 50vw;
    height: clamp(175px,25vw,250px);
    position: relative;
    max-width: 600px;
    justify-self: center;
}

.updates-type{
    position: absolute;
    top:0px;
    left: 0px;

}

.updates-etime{
    position: absolute;
    top:0px;
    right: 0px;
}

.content-box{
    outline-color: aqua;
    flex: auto;
    justify-items: start;
    align-self: center;
    margin-left: 30px;
    margin-bottom: 10px;
    height:200px;
}

.updates-comreact-bar{
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    left:0px;
    max-width: 600px;
    align-self: end;
    width: 50vw;
}

.updates-reactions{
    /* flex: auto; */
    height: 50%;
    width: 100%;
    
}

.reactions-like{
    height: 20%;
    width: 100%;
    
}

.comment-bar-button-box{
    position: absolute;
    display: flex;
    bottom: 0px;
    right: 0px;
    left:0px;
    margin-bottom: 10px;
    max-width: 600px;
    justify-content: start;
    align-items: end;
    width: 25vw;
    max-width: 310px;
    min-width: 275px;
    /* height: clamp(25px,5vw,50px); */
    
}
.updates-comment-btn{
    background: rgba(var(--tertiary-color),1);
    font-size: 9px;
    margin-left: 5px;
}
.updates-comment-input{
    
    background-color: white;
    height: 2vw;
    min-height: 18px;
    max-height: 25px;
    width: 70%;
    min-width: 200px;
    max-width: 275px;
    margin-left: 5px;
    margin-right: 5px;
}


/* ----------------Update Content Card-------------------- */

.content-pic{
    height: 200px;
    width: 132px;
}


/* ----------------Comment Card-------------------- */