.friend-list-box{
    background: var(--fourth-grad);
    margin: 0px 50px;
    display: block;
    width: 40vw;
    height: 100%;
    
}
.friend-list{
    display: flex;
    padding: 0px;
    margin-left: 10px;
    
    
}
.friend-list-item{
    
    list-style-type:none;
    justify-items: start;
    flex-wrap: nowrap;
}
.friend-profile-pic{
    border-radius: 50%;
    width: 1vw;
    height: 1vw;
    margin-right: 5px;
    
}
.friend-profile-name{
    font-size: 1vw;
    
    margin-right: 10px;
    
}



/* -----------------Bootstrap Overrides----------------- */
.mb-1{
   
}
.addfriend-dropdown-item{
    
    
    
}