.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0px;
    background-color: #000E19f0;

    padding: 15px 20px;


    z-index: 7;

}

.link-to {

    margin: 0px 10px;
}