
.game-card {
margin: 10px;
padding: 0px;
}

/* Large */
 .game-image{
  width: 200px;
  height: 300px;
  border-radius: 10px;
} 
.game-image img:not([src]){
  background: url('../../assets/GameImages/BC.jpg') no-repeat center center;
  background-size: cover;
} 
.game-info{
  margin:0px;
}
.game-nametab {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0px;
  margin: -17px 0px 0px 0px;
}
.game-name{
  font-size: 18px;
  white-space: nowrap; 
  overflow: hidden; 
  text-overflow: ellipsis;
}
.game-tab{
  background: rgba(var(--tertiary-color),1);
  height: 30px;
  padding: 5px;
  margin: -5px 1px;
  border-radius: 2px;
  display: inline-block;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding-left: 5px; 
  z-index: 1;

}


.game-image.small{
  
  width: 120px;
  height: 180px;
  border-radius: 10px;
}
.game-nametab.small, .game-name.small,.game-playtime.small,.game-score.small, .game-tab.small{
  display: none;
  /* width: 120px;
  padding: 0px;
  margin: -17px 0px 0px 0px; */
}

  /* font-size:10px;
  display: none; */



.game-image.extralarge{
  width: 250px;
  height: 375px;
  margin: 0px;
  padding: 10;
  border-radius: 10px;
}
.game-nametab.extralarge{
  width: 250px;
}
.game-name.extralarge{
  background-color: rgba(var(--tertiary-color),1);
  color: #B1E2E3;
}


.game-playtime,.game-score {
    
    font-size: 15px;
    color: rgba(var(--primary-color),1);
    padding: 0px;
    margin: 0px;
}
.game-name{
  background: var(--secondary-grad);
  color: rgba(var(--secondary-color),1);
  padding: 5px 5px;
  border-radius: 2px;
  display: inline-block; 
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  margin: -3px 0px;
  position: relative;
  z-index: 2;
}


/* ------------------------------ */
/* 
$c_0: #000000;
$c_1: #353540; */
