.game-card {
margin: 10px;
padding: 0px;
}

/* Large */
.game-image{
  width: 200px;
  height: 300px;
  border-radius: 10px;
}
.game-image img:not([src]){
  background: url('../../assets/GameImages/BC.jpg') no-repeat center center;
  background-size: cover;
}
.game-info{
  margin:0px;
}
.game-nametab {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 200px;
  padding: 0px;
  margin: -17px 0px 0px 0px;
}
.game-name{
  font-size: 18px;
  white-space: nowrap; /* Prevent wrapping */
  overflow: hidden; /* Hides any content that overflows the box */
  text-overflow: ellipsis;
}
.game-tab{
  background: #534d4c;
  height: 30px;
  padding: 5px;
  margin: -5px 1px;
  border-radius: 10px;
  display: inline-block;
  box-shadow: 0 4px 0px rgba(0, 0, 0, 0.3);
  justify-content: space-between;
  padding-left: 5px; /* Align tabs to the left of the name box */
  z-index: 1;
}

/* Small */
.game-image.small{
  width: 120px;
  height: 180px;
  border-radius: 10px;
}
.game-nametab.small{
  
  width: 120px;
  padding: 0px;
  margin: -17px 0px 0px 0px;
}
.game-name.small{
  font-size:10px;
}

/* Extra-Large */
.game-image.extralarge{
  width: 250px;
  height: 375px;
  margin: 0px;
  padding: 10;
  border-radius: 10px;
}
.game-nametab.extralarge{
  width: 250px;
}
.game-name.extralarge{
  background-color: #534d4c;
  color: #B1E2E3;
}

/* Shared */
.game-playtime,.game-score {
    
    font-size: 15px;
    color: #B1E2E3;
    padding: 0px;
    margin: 0px;
}
.game-name,.game-name.small{
  background: #B1E2E3;
  color: #000e19;
  padding: 5px 5px;
  border-radius: 8px;
  display: inline-block; 
  
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
  margin: -3px 0px;
  position: relative;
  z-index: 2;
}


